@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
$blue:#4E60FF;
$dark-gray:#2B2B43;
$light-gray:#545563;
$break-point:600px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito';
}

body {
    overflow-y: hidden;
    height: 100%;

    @media (min-width: $break-point) {
        display: flex;
    }

    .right-part {
        position: relative;
        background-color: $blue;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #FFFFFF;

        @media(max-width: $break-point) {
            display: none;
        }

        @media (min-width: $break-point) {
            width: 65%;
        }

        .img1 {
            width: 30%;
            height: 50%;
            border-radius: 14.3086px;
            z-index: 1;
            position: absolute;
            top: 20%;
            left: 10%;
        }

        .img2 {
            border-radius: 13.44px;
            width: 22%;
            height: 20%;
            z-index: 2;
            position: absolute;
            top: 28%;
            right: 33%;
        }

        .img3 {
            width: 60%;
            height: 15%;
            border-radius: 13.5452px;
            z-index: 3;
            position: absolute;
            bottom: 25%;
            left: 18%;
        }

        &-footer {
            position: absolute;
            top: 78%;
            text-align: center;
            width: 70%;

            &-header {
                font-weight: 700;
                font-size: 32px;
            }

            .circles {
                display: flex;
                flex-direction: row;
                width: 20%;
                justify-content: space-around;
                position: absolute;
                left: 40%;
            }
        }
    }

    .left-part {
        height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        @media (min-width: $break-point) {
            width: 35%;
        }

        &-header {
            width: 100%;

            .logo {
                margin-left: 6%;

                .logo1 {
                    color: $dark-gray;
                    font-weight: bold;
                }

                .logo2 {
                    color: $blue;
                    font-weight: bold;
                }

            }
        }

        @mixin loginLinks {
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.3px;
            color: $blue;
            text-decoration: none;
        }

        .main {
            display: flex;
            flex-direction: column;
            height: 70%;
            justify-content: space-between;

            .login-heading {
                color: $dark-gray;
                font-weight: 700;
                font-size: 60px;
            }

            .registration {
                color: $light-gray;
                font-weight: 400;
                font-size: 14px;
                max-width: 90%;
            }

            .login-data {
                display: flex;
                flex-direction: column;

                .input-name {
                    font-weight: 600;
                    font-size: 12px;
                    display: block;
                }

                .login-input {
                    width: 90%;
                    height: 44px;
                    border: 1px solid #C7C8D2;
                    border-radius: 8px;
                    padding: 8px;

                    &:focus {
                        outline: none;
                        border-color: $blue;
                    }
                }
            }

            .stay-sign-in {
                display: flex;

                .stay-sign-in-checkbox {
                    font-weight: 400;
                    font-size: 14px;
                }
            }

            .login-button {
                background-color: $blue;
                color: #FFFFFF;
                width: 90%;
                height: 44px;
                border: none;
                border-radius: 8px;

                &:hover {
                    background-color: $blue;
                }
            }

            .login-link {
                @include loginLinks()
            }
        }

        .left-part-footer {
            display: flex;
            flex-direction: row;
            align-items: flex-end;

            .login-link {
                @include loginLinks()
            }
        }
    }
}