@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito'; }

body {
  overflow-y: hidden;
  height: 100%; }
  @media (min-width: 600px) {
    body {
      display: flex; } }
  body .right-part {
    position: relative;
    background-color: #4E60FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF; }
    @media (max-width: 600px) {
      body .right-part {
        display: none; } }
    @media (min-width: 600px) {
      body .right-part {
        width: 65%; } }
    body .right-part .img1 {
      width: 30%;
      height: 50%;
      border-radius: 14.3086px;
      z-index: 1;
      position: absolute;
      top: 20%;
      left: 10%; }
    body .right-part .img2 {
      border-radius: 13.44px;
      width: 22%;
      height: 20%;
      z-index: 2;
      position: absolute;
      top: 28%;
      right: 33%; }
    body .right-part .img3 {
      width: 60%;
      height: 15%;
      border-radius: 13.5452px;
      z-index: 3;
      position: absolute;
      bottom: 25%;
      left: 18%; }
    body .right-part-footer {
      position: absolute;
      top: 78%;
      text-align: center;
      width: 70%; }
      body .right-part-footer-header {
        font-weight: 700;
        font-size: 32px; }
      body .right-part-footer .circles {
        display: flex;
        flex-direction: row;
        width: 20%;
        justify-content: space-around;
        position: absolute;
        left: 40%; }
  body .left-part {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    @media (min-width: 600px) {
      body .left-part {
        width: 35%; } }
    body .left-part-header {
      width: 100%; }
      body .left-part-header .logo {
        margin-left: 6%; }
        body .left-part-header .logo .logo1 {
          color: #2B2B43;
          font-weight: bold; }
        body .left-part-header .logo .logo2 {
          color: #4E60FF;
          font-weight: bold; }
    body .left-part .main {
      display: flex;
      flex-direction: column;
      height: 70%;
      justify-content: space-between; }
      body .left-part .main .login-heading {
        color: #2B2B43;
        font-weight: 700;
        font-size: 60px; }
      body .left-part .main .registration {
        color: #545563;
        font-weight: 400;
        font-size: 14px;
        max-width: 90%; }
      body .left-part .main .login-data {
        display: flex;
        flex-direction: column; }
        body .left-part .main .login-data .input-name {
          font-weight: 600;
          font-size: 12px;
          display: block; }
        body .left-part .main .login-data .login-input {
          width: 90%;
          height: 44px;
          border: 1px solid #C7C8D2;
          border-radius: 8px;
          padding: 8px; }
          body .left-part .main .login-data .login-input:focus {
            outline: none;
            border-color: #4E60FF; }
      body .left-part .main .stay-sign-in {
        display: flex; }
        body .left-part .main .stay-sign-in .stay-sign-in-checkbox {
          font-weight: 400;
          font-size: 14px; }
      body .left-part .main .login-button {
        background-color: #4E60FF;
        color: #FFFFFF;
        width: 90%;
        height: 44px;
        border: none;
        border-radius: 8px; }
        body .left-part .main .login-button:hover {
          background-color: #4E60FF; }
      body .left-part .main .login-link {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.3px;
        color: #4E60FF;
        text-decoration: none; }
    body .left-part .left-part-footer {
      display: flex;
      flex-direction: row;
      align-items: flex-end; }
      body .left-part .left-part-footer .login-link {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.3px;
        color: #4E60FF;
        text-decoration: none; }
